openai
mpi4py
muspy
jsonlines
fairseq @ git+https://github.com/facebookresearch/fairseq.git
tensorboard
tensorboardX
datasets
samplings
nltk
evaluate
unidecode
transformers[deepspeed]
transformers
torch==1.12.1+cu102
torchvision==0.13.1+cu102
torchaudio==0.12.1
mlflow
timeout-decorator
midi2audio
pypianoroll
